<p align="right"> <button class="cancel" (click)="onCancel()"><span class="material-icons">
  highlight_off
  </span></button></p>

  
  <h3><b>EDIT</b></h3>
  <mat-card>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="personalFormGroup">
      <form [formGroup]="personalFormGroup">
        <ng-template matStepLabel>Personal Details</ng-template>

        

        <div class="form-group">
          <label for="email">First Name<b class="red">*</b> </label>
                <input  type="text" formControlName="firstname" [(ngModel)]="data.firstname" [ngClass]="{ 'is-invalid': submitted && f?.firstname?.errors }">
                <div *ngIf="submitted && f?.firstname?.errors" >
                  <div *ngIf="f?.firstname?.errors?.required" class="red">First Name is required</div>
              </div>
          </div><br>


          <div class="form-group">
            <label for="email">Last Name<b class="red">*</b> </label>
            <input  type="text"  formControlName="lastname" [(ngModel)]="data.lastname" [ngClass]="{ 'is-invalid': submitted && f?.lastname?.errors }">
            <div *ngIf="submitted && f?.lastname?.errors" >
              <div *ngIf="f?.lastname?.errors?.required" class="red">Last Name is required</div>
          </div>
          </div><br>

          <div class="form-group">
            <label>Email<b class="red">*</b></label>
              <input  type="text"  formControlName="email" [(ngModel)]="data.email" [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }" >
              <div *ngIf="submitted && f?.email?.errors">
                <div *ngIf="f?.email?.errors?.required" class="data">Email is required</div>
                <div *ngIf="f?.email?.errors?.email" class="data">Email must be a valid email address</div>
              </div>
            </div><br>


            <mat-label>Gender<b class="red">*</b></mat-label> &nbsp;
            <mat-radio-group  aria-label="Select an option" formControlName="gender" [(ngModel)]="data.gender">
                <mat-radio-button value="male">Male</mat-radio-button>&nbsp;
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group><br><br>
            


          <div class="form-group">
            <label>Mobile Number<b class="red">*</b> </label>
           
            <input  type="text"   formControlName="mobile" [(ngModel)]="data.mobile" [ngClass]="{ 'is-invalid': submitted && f?.mobile?.errors }">
            
            <div *ngIf="submitted && f?.mobile?.errors" >
              <div *ngIf="f?.mobile?.errors?.required" class="red">Mobile Number is required</div>
              <div *ngIf="f?.mobile?.errors?.minlength" class="red">Enter 10 digits correctly</div>
              <div *ngIf="f?.mobile?.errors?.maxlength" class="red">Enter 10 digits correctly</div>
          </div>
            </div><br>


      
        <div class="card-body text-center">
          <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg" (click)="Submitform()" >Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="educationFormGroup" label="Education Details">
      <form [formGroup]="educationFormGroup">

        <div class="form-group">
          <label>Name of the School</label>
          <input   type="text"   formControlName="sslcSchoolName" [(ngModel)]="data.sslcSchoolName">
         
        </div><br>


       
      <div class="form-group">
        <label>Year of Completion<b class="red">*</b></label>
        <select  formControlName="sslcYear" [(ngModel)]="data.sslcYear" >
          <option *ngFor="let p of allyears" [value]="p.name">
            {{ p.name }}
          </option>
        </select>
        
        <div *ngIf="submitted && e?.sslcYear?.errors" >
          <div *ngIf="e?.sslcYear?.errors?.required" class="red">10th std year is required</div>
          
      </div>
      </div><br>

      
      <div class="form-group">
        <label>Percentage / CGPA <b class="red">*</b></label>
        <input   type="number"  formControlName="sslcMark" [(ngModel)]="data.sslcMark" [ngClass]="{ 'is-invalid': submitted && e?.sslcMark?.errors }">
      
        <div *ngIf="submitted && e?.sslcMark?.errors" >
          <div *ngIf="e?.sslcMark?.errors?.required" class="red">10th Mark is required</div>
          <div *ngIf="e?.sslcMark?.errors?.max" class="red">enter the correct percentage</div>
          <div *ngIf="e?.sslcMark?.errors?.min" class="red">Invalid marks</div>
      </div>
      </div><br>


      

      <mat-label><b>Enter your HSC/ 12th details</b></mat-label><br>

      <div class="form-group">
        <label>Name of the School </label>
        <input  type="text" formControlName="hscSchoolName" [(ngModel)]="data.hscSchoolName" >
        
      </div><br>

      <div class="form-group">
        <label>Year of Completion<b class="red">*</b></label>
        <select  formControlName="hscYear" [(ngModel)]="data.hscYear" >
          <option *ngFor="let p of allyears" [value]="p.name">
            {{ p.name }}
          </option>
        </select>
       
        <div *ngIf="submitted && e?.hscYear?.errors" >
          <div *ngIf="e?.hscYear?.errors?.required" class="red">12th std year is required</div>
          
      </div>
      </div><br>

     

      <div class="form-group">
        <label>Percentage / CGPA<b class="red">*</b> </label>
        <input   type="number"  formControlName="hscMark" [(ngModel)]="data.hscMark" [ngClass]="{ 'is-invalid': submitted && e?.hscMark?.errors }">
        <div *ngIf="submitted && e?.hscMark?.errors" >
          <div *ngIf="e?.hscMark?.errors?.required" class="red">12th Mark is required</div>
          <div *ngIf="e?.hscMark?.errors?.max" class="red">enter the correct percentage</div>
          <div *ngIf="e?.hscMark?.errors?.min" class="red">Invalid marks</div>
      </div>
      </div><br>
    
      <mat-label><b>Enter your Graduation details</b></mat-label><br>

      <div class="form-group">
        <label>State</label>
        <select  formControlName="colname" (click)="savestate()">
          <option *ngFor="let p of states" [value]="p">
            {{ p }}
          </option>
        </select>
       
      </div><br>
      
      <div class="form-group">
        <label>District</label>
        <select   formControlName="colname" (click)="savebutton()">
          <option *ngFor="let p of districts" [value]="p">
            {{ p }}
          </option>
        </select>
       
      </div><br>

      <div class="form-group">
        <label>Name of the institution</label>
        <select    formControlName="colname" [(ngModel)]="data.collegeName">
          <option *ngFor="let p of values" [value]="p">
            {{ p }}
          </option>
        </select>
       
      </div><br>


      <div class="form-group">
        <label>Year of Completion<b class="red">*</b></label>
        <select   formControlName="collegeYear" [(ngModel)]="data.collegeYear" >
          <option *ngFor="let p of allyears" [value]="p.name">
            {{ p.name }}
          </option>
        </select>
        
        <div *ngIf="submitted && e?.collegeYear?.errors" >
          <div *ngIf="e?.collegeYear?.errors?.required" class="red">Graduation year is required</div>
          
      </div>
      </div><br>

        
       
    <div class="form-group">
      <label>Percentage / CGPA<b class="red">*</b> </label>
      <input   type="number" formControlName="collegeMark" [(ngModel)]="data.collegeMark" [ngClass]="{ 'is-invalid': submitted && e?.collegeMark?.errors }" >
     
      <div *ngIf="submitted && e?.collegeMark?.errors" >
        <div *ngIf="e?.collegeMark?.errors?.required" class="red">College Mark is required</div>
        <div *ngIf="e?.collegeMark?.errors?.max" class="red">enter the correct percentage/CGPA</div>
        <div *ngIf="e?.collegeMark?.errors?.min" class="red">Invalid marks</div>
      
    </div>
    </div><br>
  
    <div class="form-group">
      <label>Degree/Branch</label><h5 class="optiontype">(If Others,enter your degree/branch after clicking others)</h5>
      <select [(ngModel)] = "textvalue" (click)="savevalue()" formControlName="collegeDegree" [(ngModel)]="data.collegeDegree">
        <option *ngFor="let p of degree" [value]="p.name">
          {{ p.name}}
        </option>
      </select>
    </div><br>

    <label *ngIf="FieldTextType">Enter your Degree/Branch</label>
    <input [type]="FieldTextType ? 'text' : 'hidden'"  formControlName="collegeDegree"> <br>

        <div class="card-body text-center">
          <button mat-stroked-button  matStepperPrevious class="btn btn-secondary btn-lg">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg" (click)="Submitform()" >Next</button>
        </div>
      </form>
    </mat-step>


      <mat-step [stepControl]="exFormGroup" label="Experience">
        <form [formGroup]="exFormGroup">
           
          <div class="form-group">
            <label>Name of the Organization </label>
            <input   type="text"  formControlName="companyName" [(ngModel)]="data.companyName" >
          
          </div><br>
               
          
          <div class="form-group">
            <label>Start Date</label>
            <input class="datepicker"  type="text" formControlName="startDate" [matDatepicker]="picker" [(ngModel)]="data.startDate">
           
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div><br>

          <div class="form-group">
            <label>Start Date</label>
            <input class="datepicker"  type="text" formControlName="endDate" [matDatepicker]="picker1" [(ngModel)]="data.endDate">
            
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </div><br>
  
          
          <div class="form-group">
            <label>Description </label>
            <textarea  matInput formControlName="description"  [(ngModel)]="data.description"></textarea>
           
          </div><br>
            
          <div class="card-body text-center">
            <button mat-stroked-button  matStepperPrevious class="btn btn-secondary btn-lg">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg">Next</button>
          </div>
        

        </form>
        </mat-step>

        <mat-step [stepControl]="skillFormGroup" label="Skills">
          <form [formGroup]="skillFormGroup">
             
            <div class="form-group">
              <label>Languages </label>
              <input   type="text"  formControlName="languages" [(ngModel)]="data.languages" >
              
            </div><br>


            <div class="form-group">
              <label>Technical Skills </label>
              <textarea  matInput formControlName="technicalSkills"  [(ngModel)]="data.technicalSkills"></textarea>
             
            </div><br>
             

  
              
            <div class="card-body text-center">
              <button mat-stroked-button (click)="save()" class="btn btn-secondary btn-lg">Submit</button>&nbsp;&nbsp;
              <button mat-stroked-button (click)="stepper.reset()" class="btn btn-secondary btn-lg">Reset</button>&nbsp;&nbsp;
              <button mat-stroked-button (click)="onCancel()" class="btn btn-secondary btn-lg">Cancel</button>
          </div>
          </form>
          </mat-step>
  </mat-horizontal-stepper></mat-card>